<!DOCTYPE html>
<html>
  <head>
    <title>ChillCloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Satisfy|Montserrat|Source+Sans+Pro" rel="stylesheet">
    <script type="text/javascript">
    <% if logged_in? %>
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
